#credenciales base de datos en postgreSQL
backend/.env

# Archivos compilados de Python
__pycache__/
*.py[cod]

# Entorno virtual
backend/venv/

# Carpeta de caché de vite (frontend)
frontend/.vite/

# Cache de Python
*.pyc
__pycache__/

# Entorno virtual
venv/